body{
    background-color: lightgrey;
}

#header{
    font-size: 4vw;
    position: relative;
    text-align: center;
}

#links{
    position: relative;
    text-align: center;
    top: 0.3vw;
}

#header a:visited{
    color: black;
}

#header a:link{
    color: black;
}

#links a:visited{
    color: black;
}

#links a:link{
    color: black;
}

#allman_info{
    font-size: 2vw;
    position: relative;
    text-align: center;
    top: 2vw;
    text-decoration: underline;
}

#datum_osv{
    position: relative;
    border: solid black;
    margin-top: 4vw;
    left: 3vw;
    margin-right: 70vw;
    line-height: 2vw;
    display: block;
    text-align: center;
    float: left;
}

#regler{
    position: absolute;
    border: solid black;
    margin-top: 4vw;
    right: 3vw;
    margin-left: 50vw;
    line-height: 2vw;
    display: block;
    float: right;
}

#om_oss{
    font-size: 2vw;
    position: relative;
    text-align: center;
    top: 2vw;
    text-decoration: underline;
}

#infotext{
    position: absolute;
    border: solid black;
    top: 12vw;
    left: 3vw;
    margin-right: 55vw;
    line-height: 2vw;
}

